<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	    <title>Minioasis Library</title>
	</head>
<body>

	<div th:replace="fragments/topnav :: topnav"></div>

	<div class="container pt-3 pb-3">

		<h4>
			<span th:text="#{create.account}">Create Account</span>
			<a  class="btn btn-outline-info text-info" href="#" th:href="@{/admin/account/list(page=0,size=10,sort=code)}">
				<i class="fas fa-search"></i>
			</a>
		</h4>
		
		<div class="card bg-hb" style="max-width: 60rem;">
		
			<div class="card-header">
				<i class="fas fa-user-friends"></i>
			</div>
			<div class="card-body bg-lb">
				
				<form th:object="${account}" method="post">			
					<input type="text" hidden="hidden" th:field="*{id}" />

					<div class="form-row">
					    <div class="form-account col-sm-2">
					      	<label th:text="#{code}">Code</label>
					      	<input type="text" class="form-control" th:field="*{code}" autofocus="autofocus" placeholder="Code"/>
					      	<p class="text-danger" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></p>
						</div>
						<div class="form-account col-sm-4">
					      	<label th:text="#{name}">Name</label>
					      	<input type="text" class="form-control" th:field="*{name}" placeholder="Name"/>
					      	<p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
					    </div>
					    <div class="form-account col-sm-3">
					    	<label th:text="#{account.type}">Account Type</label>
							<select	class="form-control" th:field="*{type}">						
								<option th:each="s : ${accountTypez}" th:value="${s}" th:text="${s}" />
								<option th:remove="all" value="CASH">CASH</option>
								<option th:remove="all" value="SALE">SALE</option>
							</select>
							<p class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
						</div>
					    <div class="form-account col-sm-3">
					    	<label>&nbsp;</label>
						    <button type="submit" class="form-control btn bg-info text-white"  th:text="#{submit}">Submit</button>
						</div>
					</div>
							
		 		</form>
		 		
			</div>
		</div>
		
		<br>

		<table class="table table-bordered" th:if="${done != null}" style="max-width: 60rem;">
		  <thead>
		    <tr>
		      <th scope="col" th:text="#{code}">Code</th>
		      <th scope="col" th:text="#{name}">Name</th>
		      <th scope="col" th:text="#{actions}">Action</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td th:text="${done.code}"></td>
		      <td th:text="${done.name}">Name</td>
		      <td>
				<a href="#" th:href="@{/admin/account/edit?id={id}(id=${done.id})}"><i class="far fa-edit"></i></a>
				| <a href="#" th:href="@{/admin/account/delete/{id}(id=${done.id})}"><i class="far fa-trash-alt"></i></a>		      
		      </td>
		    </tr>
		  </tbody>
		</table>

		<div th:replace="fragments/script :: script"></div> 
		<div th:replace="fragments/footer :: footer"></div>
  
	</div>
	
</body>
</html>