<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	<title>Minioasis Library</title>
	</head>
<body>

	<div th:replace="fragments/topnav :: topnav"></div>

	<div class="container pt-3 pb-3">

		<h4>
			<span th:text="#{checkout}">Checkout</span>
			<a class="btn btn-outline-success text-success" href="#" th:href="@{/admin/circ/patronid.form}">
				<i class="fas fa-shopping-cart"></i>
			</a>
		</h4>

		<div class="card bg-hb" style="max-width: 35rem;">
		  <div class="card-header">
			<i class="fas fa-user-plus"></i>
			<div class="float-right">
				<a class="text-white" href="#" th:href="@{/admin/circ/checkout/edit?id={id}(id=${id})}"><i class="far fa-edit"></i></a>
			</div>
		  </div>
		  <div class="card-body bg-white">
			<div class="row">
				<div class="col">
				
					<div class="table-responsive">
						<table class="table table-sm">
							<tbody>
								<tr>
									<td><i class="fas fa-user text-label"></i> <span th:text="#{patron}">Patron</span></td>
									<td class="text-info" th:text="${checkout.patron.name}">Moon</td>
								</tr>
								<tr>
									<td><i class="fas fa-book text-label"></i> <span th:text="#{title}"></span></td>
									<td class="text-info" th:text="${checkout.item.biblio.title}">Feynman Lecture On Physics</td>
								</tr>
								<tr>
									<td><i class="fas fa-barcode text-label"></i> <span th:text="#{barcode}"></span></td>
									<td class="text-info" th:text="${checkout.item.barcode}">6454564564</td>
								</tr>
								<tr>
									<td><i class="fab fa-maxcdn text-label"></i> <span th:text="#{renew.no}"></span></td>
									<td class="text-info" th:text="${checkout.renewedNo}">2</td>
								</tr>
								<tr>
									<td><i class="far fa-calendar-alt text-label"></i> <span th:text="#{checkout.date}"></span></td>
									<td class="text-info" th:text="${#temporals.format(checkout.checkoutDate,'yyyy-MM-dd')}">2015-08-31</td>
								</tr>
								<tr>
									<td><i class="far fa-calendar-alt text-label"></i> <span th:text="#{due.date}"></span></td>
					                <td class="text-info" th:text="${#temporals.format(checkout.dueDate,'yyyy-MM-dd')}">2016-08-31</td>
								</tr>
								<tr>
									<td><i class="far fa-calendar-alt text-label"></i>  <span th:text="#{done}"></span></td>
					                <td class="text-info" th:text="${checkout.done != null ? #temporals.format(checkout.done,'yyyy-MM-dd') : ''}">2016-08-31</td>
								</tr>
								<tr>
									<td><i class="fas fa-dollar-sign text-label"></i> <span th:text="#{price}"></span></td>
									<td class="text-info" th:text="${checkout.item.price}">52.10</td>
								</tr>
								<tr>
									<td><i class="fas fa-dollar-sign text-label"></i> <span th:text="#{fine.amount}"></span></td>
					                <td class="text-info" th:text="${checkout.fineAmount}">52.10</td>
								</tr>
								<tr>
									<td><i class="fas fa-calendar-alt text-label"></i> <span th:text="#{fine.paid}"></span></td>
					                <td class="text-info" th:text="${checkout.finePaidDate != null ? #temporals.format(checkout.finePaidDate,'yyyy-MM-dd') : ''}">2016-08-31</td>
								</tr>
								<tr>
									<td><i class="fas fa-dollar-sign text-label"></i> <span th:text="#{ld.fine}"></span></td>
									<td class="text-info" th:text="${checkout.lostOrDamageFineAmount}">52.10</td>
								</tr>
								<tr>
									<td><i class="fas fa-calendar-alt text-label"></i> <span th:text="#{ld.paid.date}"></span></td>
									<td class="text-info" th:text="${checkout.finePaidDate != null ? #temporals.format(checkout.lostOrDamagePaidDate,'yyyy-MM-dd') : ''}">2016-08-31</td>
								</tr>
								<tr>
									<td><i class="fas fa-thermometer-half text-label"></i> <span th:text="#{state}"></span></td>
									<td class="text-info" th:text="${checkout.State}">State</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>		
 		
		  </div>
		</div>
				
		<div th:replace="fragments/script :: script"></div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>

</body>
</html>