<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	<title>Minioasis Library</title>
	</head>
<body>

	<div th:replace="fragments/topnav :: topnav"></div>

	<div class="container pt-3 pb-3">
	
		<div th:replace="fragments/patron.info :: patroninfo"></div>

		<hr>
		
		<ul class="nav nav-pills">
		  <li class="nav-item">
		    <a class="nav-link" href="#" th:href="@{/admin/circ/checkout?pid={id}(id=${dto.patron.cardKey})}" th:text="#{checkout}">Check Out</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link active" href="#" th:href="@{/admin/circ/checkin?pid={id}(id=${dto.patron.cardKey})}" th:text="#{checkin}">Check In</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#" th:href="@{/admin/circ/renew?pid={id}(id=${dto.patron.cardKey})}" th:text="#{renew}">Renew</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#" th:href="@{/admin/circ/reportlost?pid={id}(id=${dto.patron.cardKey})}" th:text="#{report.lost}">Report Lost</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#" th:href="@{/admin/circ/payfine?pid={id}(id=${dto.patron.cardKey})}" th:text="#{pay.fine}">Pay Fines</a>
		  </li>
		</ul>

		<hr>

		<form class="form" th:object="${dto}" method="post">
			<input type="text" hidden="hidden" th:field="*{cardKey}" />
			<div class="form-row">
				<div class="form-group col-md-2">
					<label th:text="#{item}">Item</label> <input class="form-control"
						type="text" th:field="*{barcode}" autofocus="autofocus"
						th:placeholder="#{barcode}" />
					<p class="text-danger" th:if="${#fields.hasErrors('barcode')}"
						th:errors="*{barcode}"></p>
				</div>
				<div class="form-group col-md-2">
					<label th:text="#{when}">When</label> <input type="text"
						class="form-control" th:field="*{given}" placeholder="yyyy-MM-dd" />
					<p class="text-danger" th:if="${#fields.hasErrors('given')}"
						th:errors="*{given}"></p>
				</div>
				<div class="form-group col-md-2">
					<label th:text="#{damage}">Damage</label> <input type="checkbox"
						class="form-control" th:field="*{damage}" />
					<p class="text-danger" th:if="${#fields.hasErrors('damage')}"
						th:errors="*{damage}"></p>
				</div>
				<div class="form-group col-md-2">
					<div class="text-danger" th:if="${CHECKIN_ERRORS != null}">
						<ul th:each="e : ${CHECKIN_ERRORS}">
							<li th:text="${e}"></li>
						</ul>
					</div>
				</div>
				<div class="form-group col-md-2">
					<input class="sr-only" type="submit" name="search" value="Submit" />
				</div>
			</div>
		</form>

		<hr>
						
		<div th:replace="fragments/checkout.list :: checkoutlist"></div>

		<div th:replace="fragments/script :: script"></div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>

</body>
</html>