<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	    <title>Minioasis Library</title>
	</head>
<body>

	<div th:replace="fragments/topnav :: topnav"></div>

	<div class="container pt-4 pb-3">
		
		<div class="row"> <!-- row 1 -->
			<div class="col">
				<h3>
		      		<span class="text-success">
						<i class="fas fa-cogs"></i>
					</span>
		      		<span th:text="#{config}">Configuration</span>
				</h3>
			</div>
		</div> <!-- row 1 -->

		<br>
				
		<div class="row"> <!-- row 2 -->
		    <div class="col-sm-3">	    			      
				<span th:text="#{patron.type}">Patron Type</span>
				<br/>
				<a class="btn btn-outline-light text-info" href="#" th:href="@{/admin/patrontype/save}">
					<span><i class="fas fa-user-friends fa-2x"></i></span>
				</a>
				<a class="btn btn-outline-light text-info" href="#" th:href="@{/admin/patrontype/list}">
					<span><i class="fas fa-search fa-2x"></i></span>
				</a>				
			</div>
			
		    <div class="col-sm-3">	    	
				<span th:text="#{group}">Group</span>
				<br>
				<a class="btn btn-outline-light text-info" href="#" th:href="@{/admin/group/save}">
					<span>
						<i class="fas fa-users fa-2x"></i>
					</span>
				</a>
				<a class="btn btn-outline-light text-info" href="#" th:href="@{/admin/group/list(page=0,size=10,sort=code)}">
					<span>
						<i class="fas fa-search fa-2x"></i>
					</span>
				</a>	
			</div>
			
		    <div class="col-sm-3">	    	
				<span th:text="#{holiday}">Holiday</span>
				<br>
				<a class="btn btn-outline-light text-info" href="#" th:href="@{/admin/holiday/save}">
					<span>
						<i class="fas fa-umbrella-beach fa-2x"></i>
					</span>
				</a>
				<a class="btn btn-outline-light text-info" href="#" th:href="@{/admin/holiday/list(page=0,size=10,sort='startDate,desc')}">
					<span>
						<i class="fas fa-search fa-2x"></i>
					</span>
				</a>	
			</div>
			
		    <div class="col-sm-3">	    	
				<span th:text="#{item.attributes}">Item Attributes</span>
				<br>
				<a class="btn btn-outline-light text-info" href="#" th:href="@{/admin/item.attributes}">
					<span>
						<i class="fas fa-map-marker-alt fa-2x"></i>
						<i class="far fa-clock fa-2x"></i>
						<i class="fas fa-thermometer-half fa-2x"></i>
					</span>
				</a>				
			</div>
			
		  </div> <!-- row 2 -->
		  		  
		<div th:replace="fragments/script :: script"></div>
		  
		<div th:replace="fragments/footer :: footer"></div>
  
	</div>
	
</body>
</html>