<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	    <title>Minioasis Library</title>
	</head>
<body>

	<div th:replace="fragments/topnav :: topnav"></div>

	<div class="container">
	
		<div th:replace="fragments/header :: header"></div>
		<h2>Item Deleted :</h2>
		<div class="well well-sm">
			<h3>@Id - <span th:text="${id}"></span></h3>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>

</body>
</html>