<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	    <title>Minioasis Library</title>
	</head>
<body>

	<div th:replace="fragments/topnav :: topnav"></div>

	<div class="container">
	
		<div th:replace="fragments/header :: header"></div>
		
		<div class="row">
		    <div class="col-6 col-md-2">	    	
				<!----------------- Patron ---------------------->
				<h5>
					<i class="fas fa-user text-info"></i>
					<span th:text="#{patron}">Patron</span>
				</h5>
				
				<p><p/>
				
				<span th:text="#{patron}">Patron</span>
				<br>
				<a class="btn btn-outline-info text-info" href="#" th:href="@{/patron/save}">
					<i class="fas fa-user-plus"></i>
				</a>
				<a class="btn btn-outline-info text-info" href="#" th:href="@{/patron/list(page=0,size=10,sort='cardKey,desc')}">
					<i class="fas fa-search"></i>
				</a>
				
				<p><p/>
				
				<span th:text="#{patron.change.group}">Change Group</span>
				<br>
				<a class="btn btn-outline-info text-info" href="#" th:href="@{/patron/group.change/list(page=0,size=60,sort='cardKey,desc')}">
					<i class="fas fa-random"></i>
				</a>

		    </div>
		    
		    <div class="col-6 col-md-2">
		    	<!----------------- Circulation ---------------------->	
				<h5>
					<i class="fas fa-sync-alt text-success"></i>
					<span th:text="#{circulation}">Circulation</span>
				</h5>
		      
				<p></p>
				
				<span th:text="#{checkout}">Check Out </span>
				<br/>
				<a class="btn btn-outline-success text-success" href="#" th:href="@{/circ/patronid.form}">
					<i class="fas fa-shopping-cart"></i>
				</a>
				<a class="btn btn-outline-success text-success" href="#" th:href="@{/checkout/list(page=0,size=10,sort='checkoutDate,desc')}">
					<i class="fas fa-search"></i>
				</a>
				
				<p><p/>
				
				<span th:text="#{attachment.checkout}">Attachment Check Out </span>
				<br>
				<a href="#" th:href="@{/attachment.checkout/list(page=0,size=10,sort='checkoutDate,desc')}" class="btn btn-outline-success text-success">
					<i class="fas fa-paperclip"></i>
					<i class="fas fa-shopping-cart"></i>
				</a>
				
				<p><p/>
				
				<span th:text="#{checkin}">Check In</span>
				<br>
				<a class="btn btn-outline-success text-success" href="#" th:href="@{/circ/return}">
					<i class="fas fa-arrow-down"></i>
				</a>
				
				<p><p/>
				
				<span th:text="#{reservation.notification}">Reservation Notification</span>		
				<br>
				<a href="#" th:href="@{/reservation/notification/list(page=0,size=10,sort='reservationDate,desc',states='AVAILABLE',states='NOTIFIED')}" class="btn btn-outline-success text-success">
					<i class="fas fa-mobile-alt"></i> a
				</a>
				<a href="#" th:href="@{/reservation/list(page=0,size=10,sort='reservationDate,desc')}" class="btn btn-outline-success text-success">
					<i class="fas fa-search"></i>
				</a>
			      	
		    </div>
		    
		    <div class="col-6 col-md-2">
				<!----------------- Cataloging ---------------------->
				<h5>
					<i class="fas fa-sitemap text-danger"></i>
			      	<span th:text="#{cataloging}">Cataloging</span>
				</h5>

				<p><p/>
							
				<span th:text="#{opac}">OPACs</span> : <span th:text="#{web.scraping}">Web Scraping</span>
				<br/>
				<a class="btn btn-outline-danger text-danger" href="#" th:href="@{/opac}">
			      	<i class="fas fa-university"></i>
				</a>
				:
				<a class="btn btn-outline-danger text-danger">
		      		<i class="fas fa-spider"></i>
		      	</a>

		      	<p><p/>
		      	
				<span th:text="#{biblio}">Bibliography</span> : <span th:text="#{uncompleted}"> Uncompleted</span> 
				<br>
				<a class="btn btn-outline-danger text-danger" th:href="@{/biblio/save}">
		      		<i class="fas fa-book"></i>
		      	</a>
		      	<a class="btn btn-outline-danger text-danger" href="#" th:href="@{/biblio/list(page=0,size=10,sort='updated,desc')}">
				    <i class="fas fa-search"></i>b
		      	</a>
		      	:
				<a class="btn btn-outline-danger text-danger btn-sm" href="#" th:href="@{/biblio/list.uncomplete(page=0,size=10,sort='updated,desc')}">
				    <i class="fas fa-search"></i>u
		      	</a>
		      	
		      	<p><p/>
		      	
				<span th:text="#{item}">Item</span> : <span th:text="#{attachment}">Attachment</span>
				<br>
				<a class="btn btn-outline-danger text-danger" href="#" th:href="@{/item/list(page=0,size=10,sort='lastCheckin,desc')}">
				    <i class="fas fa-search"></i>i
		      	</a>
		      	:
				<a class="btn btn-outline-danger text-danger" href="#" th:href="@{/attachment/list(page=0,size=10,sort='lastCheckin,desc')}">
				    <i class="fas fa-search"></i>a
		      	</a>
		      	
		      	<p><p/>
		      	
				<span th:text="#{publisher}">Publisher</span>
				<br>
				<a class="btn btn-outline-info text-info" href="#" th:href="@{/publisher/save}">
	      			<i class="far fa-newspaper"></i>
		      	</a>
				<a class="btn btn-outline-info text-info" href="#" th:href="@{/publisher/list(page=0,size=10,sort='name,asc')}">
					<i class="fas fa-search"></i>
				</a>

		      	<p><p/>

				<span th:text="#{series}">Series</span>
				<br>
				<a class="btn btn-outline-danger text-danger" href="#" th:href="@{/series/save}">
	      			<i class="fas fa-signal"></i>
		      	</a>
				<a class="btn btn-outline-danger text-danger" href="#" th:href="@{/series/list(page=0,size=10,sort='name,asc')}">
			    	<i class="fas fa-search"></i>
		      	</a>
			      	
		    </div>
				    
		    <div class="col-6 col-md-2">
		    	<!----------------- Cataloging ---------------------->	
				<h5>
					<i class="fas fa-sitemap text-danger"></i>
					...
				</h5>

				<p><p/>
							
				<span th:text="#{print.shelfmark}">Print Shelfmarks</span>
				<br>
				<a class="btn btn-outline-danger text-danger">
				    <i class="fas fa-barcode"></i>
		      	</a>
		      	
		      	<p><p/>
		      	
				<span th:text="#{stock.check.reset}">Stock Check / Reset</span>
				<br>
				<a class="btn btn-outline-danger text-danger" href="#" th:href="@{/stock.check/item}">
					<i class="far fa-check-circle"></i>
				</a>
				<!-- Button trigger modal -->
		      	<a class="btn btn-outline-danger text-danger" data-toggle="modal" data-target="#reset">
				    <i class="fas fa-history"></i>
		      	</a>			
						      	
				<!-- Modal -->
				<div class="modal fade" id="reset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

					<form class="form" action="#" th:action="@{/stock.check/reset}" method="post">
								  
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h4 class="modal-title" id="myModalLabel" th:text="#{reset.marking}">Reset Stock Check Marking ?</h4>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					        	<span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        <p>Do you really want to reset all the <code>stockcheck</code> markings ? </p>
					        <p>This will change ALL the item's <code>stockcheck</code> marking to <code>N</code> !! </p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					        <button type="submit" class="btn btn-primary">Reset</button>
					      </div>
					    </div>
					  </div>
					  
					</form>
					
				</div><!-- Modal -->
				
		    </div>

		    <div class="col-6 col-md-2">	    	
				<!----------------- Patron ---------------------->
				<h5>
					<i class="fas fa-cash-register text-warning"></i>
					<span th:text="#{account}">Account</span>
				</h5>
				
				<p><p/>
				
				<span th:text="#{account}">Account</span>
				<br>
				<a class="btn btn-outline-warning text-warning" href="#" th:href="@{/account/save}">
					<i class="far fa-copy"></i>
				</a>
				<a class="btn btn-outline-warning text-warning" href="#" th:href="@{/account/list(page=0,size=10,sort='code,desc')}">
					<i class="fas fa-search"></i>
				</a>

				<p><p/>
				
				<span th:text="#{journalentry}">Journal Entry</span>
				<br>
				<a class="btn btn-outline-warning text-warning" href="#" th:href="@{/journalentry}">
					<i class="fas fa-list"></i>
				</a>
				<a class="btn btn-outline-warning text-warning" href="#" th:href="@{/journalentry/list(page=0,size=60,sort='txnDate,desc')}">
					<i class="fas fa-search"></i>
				</a>
								
				<p><p/>
				
				<span th:text="#{journalentry.line}">Journal Entry Line</span>
				<br>
				<a class="btn btn-outline-warning text-warning" href="#" th:href="@{/journalentry.line/save}">
					<i class="fas fa-list"></i>
				</a>
				<a class="btn btn-outline-warning text-warning" href="#" th:href="@{/journalentry.line/list(page=0,size=60,sort='journalEntry.txnDate,desc')}">
					<i class="fas fa-search"></i>
				</a>
				
				<p><p/>
				
				<span th:text="#{formdata}">Form Data</span>
				<br>
				<a class="btn btn-outline-warning text-warning" href="#" th:href="@{/formdata/list(page=0,size=60,sort='data,asc')}">
					<i class="fas fa-search"></i>
				</a>

		    </div>

		  </div> <!-- row -->
		  
		  <div th:replace="fragments/script :: script"></div>	  
		  <div th:replace="fragments/footer :: footer"></div>
  
	</div>
	
</body>
</html>