<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	    <title>Minioasis Library</title>
	</head>
<body>

	<div th:replace="fragments/topnav :: topnav"></div>

	<div class="container">
	
	<div th:replace="fragments/header :: header"></div>

		<ul class="nav nav-tabs">
		  <li class="nav-item">
		    <a class="nav-link active" href="#">General</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Configuration</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Reports</a>
		  </li>
		</ul>
		
		<br>
		        
        <div class="row">
		    <div class="col-sm">
				<h5>
					<span class="text-info">
						<i class="fas fa-user"></i>
					</span>
					Patron
				</h5>

				<!----------------- Patron ---------------------->
				
				<p><p/>
				Patron
				<br>
				<a class="btn btn-outline-info text-info">
					<span><i class="fas fa-user-plus"></i></span>
				</a>
				<a class="btn btn-outline-info text-info">
					<span><i class="fas fa-search"></i></span>
				</a>
				<p><p/>
				
				Change Group 
				<br>
				<a class="btn btn-outline-info text-info">
					<span class="has-text-link">
						<i class="fas fa-random"></i>
					</span>
				</a>
				<p><p/>
				
				Ban Patron
				<br>
				<a class="btn btn-outline-info text-info">
					<span class="has-text-link">
						<i class="fas fa-user-lock"></i>
					</span>
				</a>
				<hr>
				<!----------------- Cataloging ---------------------->
				
				Print Shelfmarks
					<br>
					<a class="btn btn-outline-danger text-danger">
			      		<span>
					    	<i class="fas fa-barcode"></i>
						</span>
			      	</a>
			      	<p><p/>
					Stock Check / Reset
					<br>
					<a class="btn btn-outline-danger text-danger">
			      		<span>
					    	<i class="fas fa-search"></i>
						</span>
			      	</a>
			      	<a class="btn btn-outline-danger text-danger">
			      		<span>
					    	<i class="fas fa-clipboard-check"></i>
						</span>
			      	</a>
		    </div>
		    
		    <div class="col-sm">
				<h5>
					<span class="text-danger">
						<i class="fas fa-sitemap"></i>
					</span>
			      	Cataloging
				</h5>

				<!----------------- Cataloging ---------------------->
				
				<p><p/>
				Reference OPACs <br/>
			      	<a class="btn btn-outline-danger text-danger">
			      		<span>
			      			<i class="fas fa-university"></i>
			      		</span>
			      	</a>
			      	<p><p/>
					Scraper 
					<br>
					<a class="btn btn-outline-danger text-danger">
			      		<span>
			      			<i class="fas fa-spider"></i>
			      		</span>
			      	</a>
			      	<p><p/>
					Bibliography
					<br>
					<a class="btn btn-outline-danger text-danger">
			      		<span>
			      			<i class="fas fa-book"></i>
						</span>
			      	</a>
			      	<a class="btn btn-outline-danger text-danger">
			      		<span>
					    	<i class="fas fa-search"></i>
						</span>
			      	</a>
			      	<p><p/>
					Uncompleted Biblio.
					<br>
					<a class="btn btn-outline-danger text-danger">
			      		<span>
					    	<i class="fas fa-search"></i>
						</span>
			      	</a>
			      	<p><p/>
					Biblio. Related
					<br>
					<a class="btn btn-outline-danger text-danger">
			      		<span>
					    	<i class="fas fa-book"></i>
						</span>
			      	</a>
			      	<a class="btn btn-outline-danger text-danger">
			      		<span>
					    	<i class="fas fa-search"></i>
						</span>
			      	</a>
			      	<p><p/>
					Item
					<br>
					<a class="btn btn-outline-danger text-danger">
			      		<span>
					    	<i class="fas fa-search"></i>
						</span>
			      	</a>
			      	<p><p/>
					Attachment
					<br>
					<a class="btn btn-outline-danger text-danger">
			      		<span>
					    	<i class="fas fa-search"></i>
						</span>
			      	</a>
			      	
		    </div>
		    <div class="col-sm">
				<h5>
		      		<span class="text-warning">
						<i class="fas fa-sync-alt"></i>
					</span>
		      		Circulation
				</h5>
				
				<!----------------- Circulation ---------------------->
		      
				<p></p>
				Check Out 
				<br/>
				<a class="btn btn-outline-warning text-warning">
					<span>
						<i class="fas fa-shopping-cart"></i>
					</span>
				</a>
				<a class="btn btn-outline-warning text-warning">
					<span>
						<i class="fas fa-search"></i>
					</span>
				</a>
				<p><p/>
				Attachment Check Out 
				<br>
				<a class="btn btn-outline-warning text-warning">
					<span>
						<i class="fas fa-paperclip"></i>
						<i class="fas fa-shopping-cart"></i>
					</span>
				</a>
				<p><p/>
				Check In
				<br>
				<a class="btn btn-outline-warning text-warning">
					<span>
						<i class="fas fa-arrow-down"></i>
					</span>
				</a>
				<p><p/>
				Reservation Notification
				<br>
				<a class="btn btn-outline-warning text-warning">
					<span>
						<i class="fas fa-mobile-alt"></i>
					</span>
				</a>
				<a class="btn btn-outline-warning text-warning">
					<span>
						<i class="fas fa-search"></i>
					</span>
				</a>
			      	
		    </div>
		    <div class="col-sm">
		      	<h5>
		      		<span class="text-success">
						<i class="fas fa-cogs"></i>
					</span>
		      		Configuration
				</h5>

				<!----------------- Configuration ---------------------->
		      
				<p></p>
				Patron Type 
				<br/>
				<a class="btn btn-outline-success text-success">
					<span>
						<i class="fas fa-user-secret"></i>
					</span>
				</a>
				<a class="btn btn-outline-success text-success">
					<span>
						<i class="fas fa-search"></i>
					</span>
				</a>
				<p><p/>
				Group
				<br>
				<a class="btn btn-outline-success text-success">
					<span>
						<i class="fas fa-user-friends"></i>
					</span>
				</a>
				<a class="btn btn-outline-success text-success">
					<span>
						<i class="fas fa-search"></i>
					</span>
				</a>
				<p><p/>
				Holiday
				<br>
				<a class="btn btn-outline-success text-success">
					<span>
						<i class="fas fa-umbrella-beach"></i>
					</span>
				</a>
				<a class="btn btn-outline-success text-success">
					<span>
						<i class="fas fa-search"></i>
					</span>
				</a>
				<p><p/>
				Item Attributes
				<br>
				<a class="btn btn-outline-success text-success">
					<span>
						<i class="fas fa-map-marker-alt"></i>
						<i class="far fa-clock"></i>
						<i class="fas fa-thermometer-half"></i>
					</span>
				</a>
				<p><p/>
				Publication Type
				<br>
				<a class="btn btn-outline-success text-success">
					<span>
						<i class="fas fa-atlas"></i>
					</span>
				</a>
				<a class="btn btn-outline-success text-success">
					<span>
						<i class="fas fa-search"></i>
					</span>
				</a>
				
		    </div>
		    <div class="col-sm">
				<h5>
		      		<span class="text-primary">
						<i class="fas fa-chart-line"></i>
					</span>
		      		Reports
				</h5>
	
				<!----------------- Reports ---------------------->
		      
				<p></p>
				Check-Out Report 
				<br/>
				<a class="btn btn-outline-primary text-primary">
					<span>
						<i class="fas fa-chart-pie"></i>
					</span>
				</a>
				<p><p/>
				Fines
				<br>
				<a class="btn btn-outline-primary text-primary">
					<span>
						<i class="far fa-money-bill-alt"></i>
					</span>
				</a>
				<p><p/>
				Patron Type Report
				<br>
				<a class="btn btn-outline-primary text-primary">
					<span>
						<i class="far fa-chart-bar"></i>
					</span>
				</a>
				
		    </div>
		  </div> <!-- row -->
		  
		  <div th:replace="fragments/footer :: footer"></div>
  
	</div>
	   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


	
</body>
</html>