<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Minioasis Library</title>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
	<script defer
		src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"></script>
	<!-- <link rel="stylesheet" href="css/debug.css"> -->
	
	<style>
		.bd-lead {
		    margin-left: -2rem;
		    padding: 1rem;
		}
	</style>

</head>
<body>

	<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="/"> <img src="/images/logo.png" width="45" height="35"></a>
			<a role="button" class="navbar-burger burger" aria-label="menu"
				aria-expanded="false" data-target="navbarBasicExample"> <span
				aria-hidden="true"></span> <span aria-hidden="true"></span> <span
				aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item" href="/">
					<span class="icon has-text-danger">
			          <i class="fas fa-home"></i>
			        </span>
			        <span th:text="#{nav.home}">
			          Home
			        </span>
				</a> 
				<a class="navbar-item">
					<span class="icon has-text-primary">
			          <i class="fas fa-book"></i>
			        </span>
			        <span class="is-hidden-touch is-hidden-widescreen" th:text="#{nav.doc}">
			          Docs
			        </span>
			        <span class="is-hidden-desktop-only" th:text="#{nav.documentation}">
			          Documentation
			        </span>
				</a>

				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link" th:text="#{nav.more}"> More </a>

					<div class="navbar-dropdown">
						<a class="navbar-item"> About </a>
						<a class="navbar-item">	Jobs </a>
						<a class="navbar-item"> Contact </a>
						<hr class="navbar-divider">
						<a class="navbar-item"> Report an issue </a>
					</div>
				</div>
			</div>

			<div class="navbar-end">

				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-item">
						<span class="icon has-text-link">
			          		<i class="fas fa-language fa-2x"></i>
			        	</span>
					</a>

					<div class="navbar-dropdown">
						<a class="navbar-item" href="#" th:href="@{/(lang=en)}" th:text="#{nav.en}"> English </a>
						<a class="navbar-item" href="#" th:href="@{/(lang=cn)}" th:text="#{nav.cn}"> Chinese </a>
					</div>
				</div>
				
				<div class="navbar-item">
					<div class="buttons">
						<a class="button is-primary"> <strong>Sign up</strong>
						</a> <a class="button is-light"> Log in </a>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', () => {

		  // Get all "navbar-burger" elements
		  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

		  // Check if there are any navbar burgers
		  if ($navbarBurgers.length > 0) {

		    // Add a click event on each of them
		    $navbarBurgers.forEach( el => {
		      el.addEventListener('click', () => {

		        // Get the target from the "data-target" attribute
		        const target = el.dataset.target;
		        const $target = document.getElementById(target);

		        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
		        el.classList.toggle('is-active');
		        $target.classList.toggle('is-active');

		});
		    });
		  }

		});
    </script>

	<div class="container">
	
		<div class="tile is-ancestor bd-lead">
			<div class="tile is-parent">
			    <div class="tile is-child box has-background-light is-hidden-mobile">
					<article class="media">
					  <figure class="media-left">
					    <span class="has-text-link">
					    	<i class="fas fa-lg fa-book-reader"></i>
						</span>
					  </figure>
					  <div class="media-content">
					    <div class="content">
					    	<p class="title is-5 has-text-link" th:text="#{library.management.system}">Library Management System</p>
					    	<p></p>
							<p class="subtitle is-6">
					  			<span class="fas fa-calendar-alt has-text-link"></span>
						  		<span th:text="${#calendars.format(now,'dd MMM yyyy')}">01 Sep 2015</span>
						  		<span class="far fa-clock has-text-link"></span>
						    	<span th:text="${#calendars.format(now,'hh:mm:ss a')}">08:28:54</span>
							</p>
					    </div>
					  </div>
					</article>			      
			    </div>
		  	</div>					
		</div>
	</div>
	
	<div class="container">
	
		<div class="tile is-ancestor bd-lead">
		  <div class="tile is-parent">
		    <div class="tile is-child box">
		    
		      <article class="media">
			    <div class="media-left">
			      <figure>
			        <span class="has-text-primary">
					    <i class="fas fa-lg fa-user"></i>
					</span>
			      </figure>
			    </div>
			    <div class="media-content">
			      <div class="content">
			      	<h4 class="title is-4">Patron</h4>
			      </div>
			    </div>
			  </article>
			  
			  <div class="content">
				Patron <br>
				<a class="button">
					<span class="has-text-link">
						<i class="fas fa-user-plus"></i>
					</span>
				</a>
				<a class="button">
					<span class="has-text-link">
					    <i class="fas fa-search"></i>
					</span>
				</a>
				<p><p/>
				Change Group 
				<br>
				<a class="button">
					<span class="has-text-link">
						<i class="fas fa-random"></i>
					</span>
				</a>
				<p><p/>
				Ban Patron
				<br>
				<a class="button">
					<span class="has-text-link">
						<i class="fas fa-user-lock"></i>
					</span>
				</a>
		  
			  </div>
			  <hr>
		      <article class="media">
			    <div class="media-left">
			      <figure>
			        <span class="has-text-warning">
					    <i class="fas fa-lg fa-sitemap"></i>
					</span>
			      </figure>
			    </div>
			    <div class="media-content">
			      <div class="content">
			      	<h4 class="title is-4">Cataloging</h4>	      	
			      </div>
			    </div>
			  </article>
			  <div class="content">
					Print Shelfmarks
					<br>
					<a class="button">
			      		<span class="has-text-link">
					    	<i class="fas fa-barcode"></i>
						</span>
			      	</a>
			      	<p><p/>
					Stock Check / Reset
					<br>
					<a class="button">
			      		<span class="has-text-link">
					    	<i class="fas fa-search"></i>
						</span>
			      	</a>
			      	<a class="button is-danger">
			      		<span>
					    	<i class="fas fa-clipboard-check"></i>
						</span>
			      	</a>			  
			  </div>
		    </div>
		  </div>
		  <div class="tile is-parent">
		    <div class="tile is-child box">
		    
		      <article class="media">
			    <div class="media-left">
			      <figure>
			        <span class="has-text-warning">
					    <i class="fas fa-lg fa-sitemap"></i>
					</span>
			      </figure>
			    </div>
			    <div class="media-content">
			      <div class="content">
			      	<h4 class="title is-4">Cataloging</h4>	      	
			      </div>
			    </div>
			  </article>
			  	<div class="content">
				    Reference OPACs <br/>
			      	<a class="button">
			      		<span class="has-text-link">
					    	<i class="fas fa-university"></i>
						</span>
			      	</a>
			      	<p><p/>
					Scraper 
					<br>
					<a class="button">
			      		<span class="has-text-link">
					    	<i class="fas fa-spider"></i>
						</span>
			      	</a>
			      	<p><p/>
					Bibliography
					<br>
					<a class="button">
			      		<span class="has-text-link">
					    	<i class="fas fa-book"></i>
						</span>
			      	</a>
			      	<a class="button">
			      		<span class="has-text-link">
					    	<i class="fas fa-search"></i>
						</span>
			      	</a>
			      	<p><p/>
					Uncompleted Biblio.
					<br>
					<a class="button">
			      		<span class="has-text-link">
					    	<i class="fas fa-search"></i>
						</span>
			      	</a>
			      	<p><p/>
					Biblio. Related
					<br>
					<a class="button">
			      		<span class="has-text-link">
					    	<i class="fas fa-book"></i>
						</span>
			      	</a>
			      	<a class="button">
			      		<span class="has-text-link">
					    	<i class="fas fa-search"></i>
						</span>
			      	</a>
			      	<p><p/>
					Item
					<br>
					<a class="button">
			      		<span class="has-text-link">
					    	<i class="fas fa-search"></i>
						</span>
			      	</a>
			      	<p><p/>
					Attachment
					<br>
					<a class="button">
			      		<span class="has-text-link">
					    	<i class="fas fa-search"></i>
						</span>
			      	</a>				      	
			      </div>
		    </div>
		  </div>
		  <div class="tile is-parent">
		    <div class="tile is-child box">

		      <article class="media">
			    <div class="media-left">
			      <figure>
			        <span class="has-text-success">
					    <i class="fas fa-lg fa-sync-alt"></i>
					</span>
			      </figure>
			    </div>
			    <div class="media-content">
			      <div class="content">
			      	<h4 class="title is-4">Circulation</h4>	      	
			      </div>
			    </div>
			  </article>
			  	<div class="content">
				    Check Out <br/>
			      	<a class="button">
			      		<span class="has-text-link">
					    	<i class="fas fa-shopping-cart"></i>
						</span>
			      	</a>
			      	<a class="button">
			      		<span class="has-text-link">
					    	<i class="fas fa-search"></i>
						</span>
			      	</a>
			      	<p><p/>
					Attachment Check Out 
					<br>
					<a class="button">
			      		<span class="has-text-link">
					    	<i class="fas fa-paperclip"></i>
					    	<i class="fas fa-shopping-cart"></i>
						</span>
			      	</a>
			      	<p><p/>
					Check In
					<br>
					<a class="button">
			      		<span class="has-text-link">
					    	<i class="fas fa-arrow-down"></i>
						</span>
			      	</a>
			      	<p><p/>
					Reservation Notification
					<br>
					<a class="button">
			      		<span class="has-text-link">
					    	<i class="fas fa-mobile-alt"></i>
						</span>
			      	</a>
					<a class="button">
			      		<span class="has-text-link">
					    	<i class="fas fa-search"></i>
						</span>
			      	</a>
			      </div>
			      
		    </div>
		  </div>
		  <div class="tile is-vertical is-parent">
		    <div class="tile is-child box">
		      <p class="title">One</p>
		    </div>
		    <div class="tile is-child box">
		      <p class="title">Two</p>
		    </div>
		  </div>
		</div>
	
	</div>
</body>
</html>