<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(Minioasis)">
<title>Minioasis Library</title>
</head>
<body>

	<div th:replace="fragments/topnav :: topnav"></div>

	<div class="container pt-2">

		<div th:replace="fragments/nav.favourite :: navfavourite"></div>

		<div class="col">

			<h1 class="display-5 text-info">
				<i class="fas fa-file-invoice-dollar"></i> <span
					th:text="#{journalentry}">Journal Entry</span>
			</h1>

			<hr></hr>

			<p class="lead" th:text="#{key.in.patron.id}">Please key in
				member ID.</p>

			<p class="text-danger" th:if="${exist == 'no'}"
				th:text="#{error.no.patron}">No Patron Found</p>

			<form action="#" th:action="@{/admin/journalentry/form}" method="get">
				<div class="form-row">
				  <div class="col-md-4 mb-4">
				   	<input name="pid" class="form-control form-control-lg col-sm" autofocus="autofocus" th:placeholder="#{card.key}" />
				  </div>
				</div>
			</form>

		</div>

		<div th:replace="fragments/script :: script"></div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>

</body>
</html>