<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
		crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/minioasis.css"
		th:href="@{/css/minioasis.css}" />
	<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="css/signin.css" th:href="@{/css/signin.css}">
</head>

<body class="text-center">

		<form class="form-signin" th:action="@{/login}" method="post">
		
		<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

		<img class="mb-4" th:src="@{/images/minioasis.png}" alt=""/>

		

			<div class="error text-center" th:if="${param.error}">Invalid
				username and password.</div>

			<div class="info text-center" th:if="${param.logout}">You have
				been logged out.</div>

			<input type="text" class="form-control" name="username"
				placeholder="Username" required autofocus>
			<input type="password" class="form-control" name="password"
				placeholder="Password" required>

			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" value="remember-me">
					Remember me
				</label>
			</div>
		
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign	in</button>

			<div class="mb-3">
				<br>
				<a href="#" class="text-center new-account">Create an account </a>
			</div>
		
		</form>



</body>
</html>