<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	    <title>Minioasis Library</title>
	</head>

<body>

	<div th:replace="fragments/topnav :: topnav"></div>

	<div th:replace="fragments/script :: script"></div>	
	
	<script	src="/js/dropzone.min.js" th:src="@{/js/dropzone.min.js}"></script>
		
	<div class="container pt-3 pb-3">

		<h4><span th:text="#{upload.patron}">Upload Patron</span></h4>
		
		<form th:action="@{/patron/{id}/upload(id=${id})}" id="myAwesomeDropzone" class="dropzone" enctype="multipart/form-data" method="post">
<!--
 			<div class="dz-default dz-message file-dropzone text-center well col-sm-12">
				<span class="glyphicon glyphicon-paperclip"></span>
				<span> To attach files, drag and drop here</span><br> <span>OR</span>
				<br>
				<span>Just Click</span>
			</div>
-->
			<input type="file" name="img" hidden="hidden" multiple /> 
			<!-- <input class="btn btn-info align-bottom float-right" id="uploadme" type="submit" value="Submit" > -->
						
		</form>

		<div class="row">
			<div class="col">
				<p></p>
				<a class="btn btn-success float-right" href="#" th:href="@{/patron/{id}(id=${id})}"> 
					<span><i class="far fa-hand-point-right"></i></span>
					Skip Upload
				</a>			
			</div>	
		</div>

		<script type="text/javascript">
		
			Dropzone.autoDiscover = false;
			$(document).ready(function() {	
				
				Dropzone.options.myAwesomeDropzone = {
					
					url: "[[@{/patron/{id}/upload(id=${id})}]]" ,
					paramName : "img",
					autoProcessQueue : false,
					uploadMultiple : false,
					clickable: true,
					maxFilesize : 1, // MB
					addRemoveLinks : true,
					acceptedFiles: "image/*",
					previewsContainer : ".dropzone-previews",
					accept : function(file, done) {
						if (file.name == "justinbieber.jpg") {
							done("Naha, you don't.");
						} else {
							done();
						}
					}

					/* init: function() {
				        var submitButton = document.querySelector("#uploadme")
				        myDropzone = this;
				        submitButton.addEventListener("click", function() {
				            myDropzone.processQueue(); 
				        });
					} */
			});
		</script>

		<div th:replace="fragments/footer :: footer"></div>
	</div>
	
</body>
</html>