<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	    <title>Minioasis Library</title>
	</head>
<body>

	<div th:replace="fragments/topnav :: topnav"></div>

	<div class="container pt-2">

		<div th:replace="fragments/nav.favourite :: navfavourite"></div>
			
		<h4>
			<span th:text="#{create.publisher}">Create Publisher</span>
			<a class="btn btn-outline-info text-info" href="#" th:href="@{/admin/publisher/list(page=0,size=10,sort='name,asc')}">
				<i class="fas fa-search"></i>
			</a>
			<a class="btn btn-outline-danger text-danger" href="#" th:href="@{/admin/series/save}">
      			<i class="fas fa-signal"></i>
	      	</a>
			<a class="btn btn-outline-danger text-danger" href="#" th:href="@{/admin/series/list(page=0,size=10,sort='name,asc')}">
		    	<i class="fas fa-search"></i>
	      	</a>
		</h4>

		<div class="card bg-hb" style="max-width: 40rem;">
		
			<div class="card-header">
				<i class="far fa-newspaper"></i>
			</div>
			<div class="card-body bg-lb">
				
				<form th:object="${publisher}" method="post">			
					<input type="text" hidden="hidden" th:field="*{id}" />

					<div class="form-row">
						<div class="form-group col-sm-10">
					      	<label th:text="#{name}">Name</label>
					      	<input type="text" class="form-control" th:field="*{name}" autofocus="autofocus"  placeholder="Name"/>
					      	<p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
					    </div>
					    <div class="form-group col-sm-2">
					    	<label>&nbsp;</label>
						    <button type="submit" class="form-control btn bg-info text-white"  th:text="#{submit}">Submit</button>
						</div>
					</div>
							
		 		</form>
		 		
			</div>
		</div>
		
		<br>

		<table class="table table-bordered" th:if="${done != null}" style="max-width: 40rem;">
		  <thead>
		    <tr>
		      <th scope="col" th:text="#{name}">Name</th>
		      <th scope="col" th:text="#{actions}">Action</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td th:text="${done.name}">Name</td>
		      <td>
				<a href="#" th:href="@{/admin/publisher/edit?id={id}(id=${done.id})}"><i class="far fa-edit"></i></a>
				| <a href="#" th:href="@{/admin/publisher/delete/{id}(id=${done.id})}"><i class="far fa-trash-alt"></i></a>		      
		      </td>
		    </tr>
		  </tbody>
		</table>
				  
		<div th:replace="fragments/script :: script"></div>	  
		<div th:replace="fragments/footer :: footer"></div>
  
	</div>
	
</body>
</html>