<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	<title>Minioasis Library</title>
	</head>
<body>

	<div th:replace="fragments/topnav :: topnav"></div>

	<div class="container pt-3 pb-3">

		<h3>
			<span class="text-success" th:text="#{report} + ' : ' + #{patron.statistics.by.type}">Report - Patron Statistics By Type</span>
			<a class="btn btn-outline-info text-info" href="#" th:href="@{/report/patron.statistics.form}">
		    	<i class="fas fa-search"></i>
	      	</a>
		</h3>
		
		<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
		
		<hr>
		
		<div th:each="chartData,iterator : ${chartDataList}">
			<div th:replace="fragments/apexcharts.chart.list :: chartlist(${iterator.index}, ${chartData.getTitle()}, ${chartData.getSeries()})"></div>
		</div>		
		
		<div th:replace="fragments/script :: script"></div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>

</body>
</html>