<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	<title>Minioasis Library</title>
	</head>
<body>

	<div th:replace="fragments/topnav :: topnav"></div>

	<div class="container pt-3 pb-3">

		<h4>
			<span th:text="#{overdue.list}">Overdue List</span>
			<a class="btn btn-outline-info text-info" href="#" th:href="@{/reports}">
				<i class="far fa-file-alt"></i>
			</a>	
		</h4>

		<div class="float-right">

			<a th:if="${page.hasPrevious()}" th:href="@{/report/overdue(page=${page.number - 1},size=${page.size})}">
				<button type="button" class="btn btn-outline-info rounded-pill">Previous</button>
			</a>
			<a th:if="${page.hasNext()}" th:href="@{/report/overdue(page=${page.number + 1},size=${page.size})}">
				<button type="button" class="btn btn-outline-info rounded-pill">Next</button>
			</a>
		
		</div>
		
		Total : <span th:text="${page.totalElements}">105</span>

		<div class="table-responsive-sm">
			<table class="table table-striped table-sm">				
				<thead>
					<tr>
						<th>#</th>
						<th th:text="#{patron}">Patron</th>
						<th th:text="#{barcode} + '(i)'">Barcode(i)</th>
						<th th:text="#{title}">Title</th>
						<th th:text="#{biblio}">Biblio</th>
						<th th:text="#{checkout.date}">Checkout Date</th>
						<th th:text="#{due.date}">Due Date</th>
						<th th:text="#{fine}">Fine</th>
						<th th:text="#{state}">State</th>
					</tr>
				</thead>
	
				<tbody>
					<tr th:each="e,iterator : ${page.content}">
						<td th:text="${iterator.index + 1} + ${page.number * page.size}">1</td>
						<td><a href="#" th:href="@{/circ/checkout?pid={cardKey}(cardKey=${e.patron.cardKey})}" th:text="${e.patron.cardKey}">cardKey</a></td>
						<td th:text="${e.item.barcode}">121212</td>
						<td th:text="${e.item.biblio.title}"></td>
						<td><a href="#" th:href="@{/biblio/{id}(id=${e.item.biblio.id})}" class="btn btn-outline-info btn-sm"><i class="fas fa-book"></i></a></td>
						<td th:text="${e.checkoutDate != null ? #temporals.format(e.checkoutDate,'yyyy-MM-dd') : ''}">2015-07-31</td>
						<td th:text="${e.dueDate != null ? #temporals.format(e.dueDate,'yyyy-MM-dd') : ''}">2015-08-31</td>
						<td th:text="${e.fineAmount}">12.00</td>
						<td th:text="${e.state}">CHECKOUT</td>
					</tr>
					<tr th:remove="all">
						<td>2</td>
						<td>cardKey</td>
						<td>title</td>
						<td>biblio</td>
						<td>2015-07-31</td>
						<td>2015-08-31</td>
						<td>12.00</td>
						<td>CHECKOUT</td>
					</tr>
				</tbody>
			</table>
		</div>
					
		<div th:replace="fragments/script :: script"></div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>

</body>
</html>