<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	    <title>Minioasis Library</title>
	</head>
<body>

	<div th:replace="fragments/topnav :: topnav"></div>

	<div class="container pt-4 pb-3">
		
		<div class="row"> <!-- row 1 -->
			<div class="col">
				<!----------------- Reports ---------------------->
				<h3>
		      		<span class="text-primary">
						<i class="fas fa-chart-line"></i>
					</span>
		      		<span th:text="#{reports}">Reports</span>
				</h3>
			</div>
		</div> <!-- row 1 -->
		
		<br>
		
		<div class="row">
		    <div class="col-md">	    	
				<div class="list-group">
				  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">
				  	<i class="fas fa-shopping-cart"></i> <span th:text="#{checkout}"></span>
				  </a> 
				  <a href="#" th:href="@{/admin/report/top.list.patrons.for.checkouts.form}" class="list-group-item list-group-item-action" th:text="#{top.list.patrons.for.checkouts}">Top List Patrons For Checkouts</a> 
				  <a href="#" th:href="@{/admin/report/top.popular.books.form}" class="list-group-item list-group-item-action" th:text="#{top.popular.books}">Top Popular Books</a>
				  <a href="#" th:href="@{/admin/report/overdue(page=0,size=30)}" class="list-group-item list-group-item-action list-group-item-info" th:text="#{overdue.list}">Overdue List</a>
				  <a href="#" th:href="@{/admin/report/overdue.orderby.group.patrontype(page=0,size=30)}" class="list-group-item list-group-item-action list-group-item-info">
				  	<span th:text="#{overdue.list}"></span>
				  	<br>
				  	<span th:text="#{orderby.group.patrontype}"></span>
				  </a>
				  <a href="#" th:href="@{/admin/report/fines.pending(page=0,size=30)}" class="list-group-item list-group-item-action" th:text="#{fines.pending.list}">Fines Pending List</a>
				  <a href="#" th:href="@{/admin/report/fines.pending.orderby.group.patrontype(page=0,size=30)}" class="list-group-item list-group-item-action">
				  	<span th:text="#{fines.pending.list}"></span>
				  	<br>
				  	<span th:text="#{orderby.group.patrontype}"></span>				  
				  </a>
				  <a href="#" th:href="@{/admin/report/reportlost(page=0,size=30)}" class="list-group-item list-group-item-action list-group-item-info" th:text="#{reportlost.list}">Report Lost List</a>
				  <a href="#" th:href="@{/admin/report/reportlost.orderby.group.patrontype(page=0,size=30)}" class="list-group-item list-group-item-action list-group-item-info">
				  	<span th:text="#{reportlost.list}"></span>
				  	<br>
				  	<span th:text="#{orderby.group.patrontype}"></span>					  
				  </a>
				</div>
			</div>
			
		    <div class="col-md">  
				<div class="list-group">
				  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">
				  	<i class="fas fa-user"></i> <span th:text="#{patron}"></span>
				  </a> 
				  <a href="#" th:href="@{/admin/report/patron.statistics.form}" class="list-group-item list-group-item-action" th:text="#{patron.statistics.by.type}">patrons.statistics.by.type</a> 
				  <a href="#" class="list-group-item list-group-item-action">Report 2</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Report 3</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-success">Report 4</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Report 5</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Report 6</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-info">Report 7</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-light">Report 8</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Report 9</a>
				</div>
			</div>
			
		    <div class="col-md">
				<div class="list-group">
				  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">
				  	<i class="fas fa-user"></i> <span th:text="#{patron}"></span>
				  </a>
				  <a href="#" class="list-group-item list-group-item-action">Report 1</a> 
				  <a href="#" class="list-group-item list-group-item-action">Report 2</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Report 3</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-success">Report 4</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Report 5</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Report 6</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-info">Report 7</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-light">Report 8</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Report 9</a>
				</div>	    					
			</div>

		    <div class="col-md">	    	
				<div class="list-group">
				  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">
				  	<i class="fas fa-user"></i> <span th:text="#{patron}"></span>
				  </a>
				  <a href="#" class="list-group-item list-group-item-action">Report 1</a> 
				  <a href="#" class="list-group-item list-group-item-action">Report 2</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Report 3</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-success">Report 4</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Report 5</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Report 6</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-info">Report 7</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-light">Report 8</a>
				  <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Report 9</a>
				</div>		
			</div>
						
		  </div> <!-- row -->
		  
		  <div th:replace="fragments/script :: script"></div>
		  
		  <div th:replace="fragments/footer :: footer"></div>
  
	</div>
	   
</body>
</html>