<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	<title>Minioasis Library</title>
	</head>
<body>

	<div th:replace="fragments/topnav :: topnav"></div>

	<div class="container pt-3 pb-3">

		<h4>
			<span th:text="#{reset.done}">Reset Done</span>
			<a class="btn btn-outline-success text-success" href="#" th:href="@{/admin/stock.check/item}">
				<i class="fas fa-fast-backward"></i>
			</a>
		</h4>
		
		
		<h1 class="display-1"><i class="far fa-thumbs-up"></i></h1>
		
		<div th:replace="fragments/script :: script"></div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>

</body>
</html>