html { font-size: 14px }

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #f0faff;
}

.bg-hb {
	background-color: #85C1E9;
}

.bg-lb {
	background-color: #EBF5FB;
}

.text-label {
	color: #337ab7 !important;
}