<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<div th:fragment="memberinfo">

		<div class="card inf-content">
			<div class="card-body">
				<div class="row">
					<div class="col-md-2">
						<img src="/images/bookworm.png"
							th:src="@{/member/photo/patron/{id}(id=${patron.ic})}"
							class="rounded-circle"
							style="min-height: 90px; height: 100px; width: 80px;" />
					</div>
					<div class="col-md-2">
						<h1 class="display-3 font-weight-bold font-italic" th:inline="text">
							[[ ${patron.cardKey} ]]
						</h1>		
					</div>
					<div class="col-md-4">
						<p class="font-weight-bold font-italic" th:inline="text">
							[[ ${patron.name} + ' ( ' + ${patron.name2} + ' )' ]] <br>
							[[ ${patron.patronType.name}]] <br>
							[[' ( start : ' + ${#temporals.format(patron.startDate,'yyyy-MM-dd')} + ', exp : ' + ${#temporals.format(patron.endDate,'yyyy-MM-dd')} + ' )']] <br>
							[[ ${patron.group.name} ]]
						</p>
					</div>
				</div>
			</div>
		</div>
		
	</div>

</body>
</html>