<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<div th:fragment="patroninfo">

		<div class="inf-content">
			<div class="card-body">
				<div class="row">
					<div class="col-md-2">
						<!-- th:src="@{/patron/photo/{id}(id=${dto.patron.id})}" -->
						<img th:if="${dto.patron.ic != null}" src="/images/bookworm.png"
							th:src="@{/admin/thumbnail.photo/patron/{id}(id=${dto.patron.ic})}"
							class="rounded-circle"
							style="min-height: 150px; height: 185px; width: 150px;" />
					</div>

					<div class="col-md-5">

						<table class="table table-sm">
							<tbody>
								<tr>
									<td><i class="far fa-check-circle text-label"></i> <span th:text="#{active}">Active</span></td>
									<td th:text="${dto.patron.active}">Y</td>
								</tr>
								<tr>
									<td><i class="far fa-address-card text-label"></i> <span th:text="#{card.key}">Card Key</span></td>
									<td th:text="${dto.patron.cardKey}"> CardKey</td>
								</tr>
								<tr>
									<td><i class="far fa-user text-label"></i> <span th:text="#{name}">Name</span></td>
									<td th:text="${dto.patron.name} + ' (' + ${dto.patron.name2} + ')'">Name</td>
								</tr>
								<tr>
									<td><i class="far fa-calendar-alt text-label"></i> <span th:text="#{start.end}">Start/End</span></td>
									<td th:text="${#temporals.format(dto.patron.startDate,'yyyy-MM-dd')} + ' / ' + ${#temporals.format(dto.patron.endDate,'yyyy-MM-dd')}">2015-08-31</td>
								</tr>
								<tr>
									<td><i class="fas fa-user-friends text-label"></i> <span th:text="#{patron.type}">P.Type</span></td>
									<td th:text="${dto.patron.patronType.name}">Name</td>
								</tr>
								<tr>
									<td><i class="fas fa-users text-label"></i> <span th:text="#{group}">Group</span></td>
									<td th:text="${dto.patron.group.name}">Name</td>
								</tr>
							</tbody>
						</table>
							
					</div>

					<div class="col-md-4">
						<h6>Note</h6>
						<textarea class="col" rows="7" name="note" th:text="${dto.patron.note}"></textarea>
					</div>
					<div class="col-md-1">
						<a class="btn btn-outline-info" href="#" th:href="@{/admin/patron/edit?id={id}(id=${dto.patron.id})}"><i class="far fa-edit"></i></a>
					</div>
				</div>
			</div>
		</div>
		
	</div>

</body>
</html>