<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:fragment="head(title)">
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"></script>
	
	    <title th:text="${title}">Page Title</title>
	</head>
  <body>
  	<!--navbar -->
	<div th:fragment="topnavpub">
		
		<nav class="navbar navbar-expand-lg navbar-light"
			style="background-color: #e3f2fd;">
			<a class="navbar-brand" href="#" th:href="@{/}"> <img
				src="https://img.icons8.com/ios/50/000000/elephant.png" width="45"
				height="35">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">	
						<a class="nav-link" href="#" th:href="@{/}">
							<span class="text-success">
								<i class="fas fa-home"></i>
							</span>
							<span  th:text="#{nav.home}">
								Home
							</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" th:href="@{/member/index}">
							<span class="text-info">
								<i class="fas fa-user"></i>
							</span>
							<span th:text="#{nav.member}">
								Member
							</span>						
						</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img th:src="@{/images/lang.png}" alt=""/>
						</a>
						<div class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#" th:href="@{/(lang=en)}" th:text="#{nav.en}"> English </a>
							<a class="dropdown-item" href="#" th:href="@{/(lang=cn)}" th:text="#{nav.cn}"> Chinese </a>
						</div>
					</li>
					<li class="nav-item dropdown" sec:authorize="isAuthenticated()">
						<a class="nav-link dropdown-toggle" id="navbarDropdown"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${#authentication.name}">
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Profile</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Sign out</a>
						</div>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0" th:action="@{/biblio/simple.search}" method="get">
					<input type="hidden" id="page" name="page" value="0" />
					<input type="hidden" id="size" name="size" value="10" />
					<input type="hidden" id="sort" name="sort" value="updated,desc" />
					
					<input class="form-control mr-sm-2" type="search" name="keyword" th:placeholder="#{nav.search}" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" th:text="#{nav.search}" type="submit">Search</button>
				</form>
			</div>
		</nav>	
	</div><!-- navbar -->
	
	<div class="container">
	</div>
	
</body>
</html>
