<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	    <title>Minioasis Library</title>
	</head>
<body>

	<div th:replace="fragments/topnav :: topnav"></div>

	<div class="container pt-2">
	
		<div th:replace="fragments/nav.favourite :: navfavourite"></div>
		<div th:replace="fragments/header.audit :: header_audit"></div>
			
		<h4>
			<span th:text="#{item.revisions}">Item Revisions</span>
			<a class="btn btn-outline-light text-primary" href="#" th:href="@{/admin/audit/item/{id}/list(page=0,size=10,id=${id})}">
				<i class="fas fa-search fa-2x"></i>
			</a>	
		</h4>

		<div class="float-right">
			<a th:if="${page.hasPrevious()}" th:href="${previous}" id="previous">
				<button type="button" class="btn btn-outline-info rounded-pill">Previous</button>
			</a>
			<a th:if="${page.hasNext()}" th:href="${next}" id="next">
				<button type="button" class="btn btn-outline-info rounded-pill">Next</button>
			</a>	
		</div>
		
		Total : <span th:text="${page.totalElements}">105</span>

		<div class="table-responsive-sm">					
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Rev/Time</th>
						<th>Active/Barcode/Shelfmark</th>
						<th>Last Full Renew Person</th>
						<th>Created/First Checkin/Last Checkin</th>
						<th>Price/Source</th>
						<th>State/Item status/Location</th>
					</tr>
				</thead>
	
				<tbody>
					<tr th:each="e,iterator : ${page.content}">
						<td th:text="${iterator.index + 1} + ${page.number * page.size}">1</td>
						<td>
							<a href="#" th:href="@{/admin/audit/revision/{rev}(rev=${e.revisionNumber.orElse(-1)})}">
								<span th:text="${e.revisionNumber.orElse(-1)}"></span>
							</a>
							<br>
							<span th:text="${#temporals.format(e.revisionInstant.orElse(0),'yyyy-MM-dd')}"></span><br>
							<span th:text="${#temporals.format(e.revisionInstant.orElse(0),'<HH:mm:ss>')}"></span>
						</td>
						<td>
							<span th:text="${e.entity.active}"></span><br>									
							<span th:text="${e.entity.barcode}"></span><br>
							<span th:text="${e.entity.shelfMark}"></span>
						</td>
						<td>
							<p th:text="${e.entity.lastFullRenewPerson}"></p>									
						</td>
						<td th:inline="text">
							[[${#temporals.format(e.entity.created,'yyyy-MM-dd')}]]
							<br>
							[[${#temporals.format(e.entity.firstCheckin,'yyyy-MM-dd')}]]
							<br>
							[[${#temporals.format(e.entity.lastCheckin,'yyyy-MM-dd HH:mm:ss')}]]
						</td>
						<td>
							<span th:text="${e.entity.price}"></span><br>									
							<span th:text="${e.entity.source}"></span>
						</td>
						<td>
							<span th:text="${e.entity.state}"></span><br>									
							<span th:text="${e.entity.itemStatus?.name}"></span><br>
							<span th:text="${e.entity.location?.name}"></span>
						</td>
					</tr>
					<tr th:remove="all">
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
					</tr>
				</tbody>
			</table>
		</div>
								
		<div th:replace="fragments/script :: script"></div>
		<div th:replace="fragments/footer :: footer"></div>

	</div>

</body>
</html>