<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	    <title>Minioasis Library</title>
	</head>
<body>

	<div th:replace="fragments/topnav :: topnav"></div>

	<div class="container pt-2">
	
		<div th:replace="fragments/nav.favourite :: navfavourite"></div>
		<div th:replace="fragments/header.audit :: header_audit"></div>
			
		<h4>
			<span th:text="#{telegram.user.revisions}">Telegram User Revisions</span>
			<a class="btn btn-outline-light text-primary" href="#" th:href="@{/admin/audit/telegram.user/{id}/list(page=0,size=10,id=${id})}">
				<i class="fas fa-search fa-2x"></i>
			</a>	
		</h4>

		<div class="float-right">
			<div th:if="${pagingType eq 'list'}">
				<a th:if="${page.hasPrevious()}" th:href="@{/admin/audit/telegram.user/{id}/list(page=${page.number - 1},size=${page.size},id=${id})}">
					<button type="button" class="btn btn-outline-info rounded-pill">Previous</button>
				</a>
				<a th:if="${page.hasNext()}" th:href="@{/admin/audit/telegram.user/{id}/list(page=${page.number + 1},size=${page.size},id=${id})}">
					<button type="button" class="btn btn-outline-info rounded-pill">Next</button>
				</a>	
			</div>		
		</div>
		
		Total : <span th:text="${page.totalElements}">105</span>

		<div class="table-responsive-sm">					
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Rev</th>
						<th>Time</th>
						<th>ChatId/<br>CardKey</th>
						<th>reminder</th>
						<th>sendMeEvent</th>
						<th>sendMeNewRelease</th>
						<th>sendMeAnnouncement</th>
						<th>sendMeArticle</th>
						<th>sendMePromotion</th>
					</tr>
				</thead>
	
				<tbody>
					<tr th:each="e,iterator : ${page.content}">
						<td th:text="${iterator.index + 1} + ${page.number * page.size}">1</td>
						<td th:text="${e.revisionNumber.orElse(-1)}">Revision #</td>
						<td>
							<p th:text="${#temporals.format(e.revisionInstant.orElse(0),'yyyy-MM-dd')}"></p>
							<p th:text="${#temporals.format(e.revisionInstant.orElse(0),'<HH:mm:ss>')}"></p>
						</td>
						<td>
							<p th:text="${e.entity.chatId}"></p>
							<p th:text="${e.entity.cardKey}"></p>
						</td>
						<td>
							<p th:text="${e.entity.preference?.reminder}"></p>									
						</td>
						<td>								
							<p th:text="${e.entity.preference?.sendMeEvent}"></p>
						</td>
						<td>
							<p th:text="${e.entity.preference?.sendMeNewRelease}"></p>									
						</td>
						<td>									
							<p th:text="${e.entity.preference?.sendMeAnnouncement}"></p>
						</td>
						<td>
							<p th:text="${e.entity.preference?.sendMeArticle}"></p>									
						</td>
						<td>								
							<p th:text="${e.entity.preference?.sendMePromotion}"></p>
						</td>
					</tr>
					<tr th:remove="all">
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
						<td>9</td>
						<td>10</td>
					</tr>
				</tbody>
			</table>
		</div>
								
		<div th:replace="fragments/script :: script"></div>
		<div th:replace="fragments/footer :: footer"></div>

	</div>

</body>
</html>