<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	    <title>Minioasis Library</title>
	</head>
<body>

	<div th:replace="fragments/topnav.member :: topnavmember"></div>

	<div class="container pt-3 pb-3">

		<div th:replace="fragments/member.info :: memberinfo"></div>
		
		<br>

		<div class="text-danger" th:if="${RESERVATION_ERRORS != null}">
			<ul th:each="e : ${RESERVATION_ERRORS}">
			   <li th:text="${e}"></li>
			</ul>
		</div>
		<div class="text-danger" th:if="${RENEW_ERRORS != null}">
			<ul th:each="e : ${RENEW_ERRORS}">
			   <li th:text="${e}"></li>
			</ul>
		</div>
				
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="home-tab" data-toggle="tab" href="#checkout" role="tab" aria-controls="checkout" aria-selected="true" th:text="#{checkout}">Checkout</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="profile-tab" data-toggle="tab" href="#reservation" role="tab" aria-controls="reservation" aria-selected="false" th:text="#{reservation}">Reservation</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" th:href="@{/member/histories}" th:text="#{history}">History</a>
			</li>
		</ul>

		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="checkout" role="tabpanel" aria-labelledby="checkout-tab">
				<div th:replace="fragments/member.checkouts :: membercheckouts"></div>
			</div>

			<div class="tab-pane fade" id="reservation" role="tabpanel"	aria-labelledby="reservation-tab">
				<div th:replace="fragments/member.reservations :: memberreservations"></div>
			</div>
		</div>

		<div th:replace="fragments/script :: script"></div>
		<script	src="/js/main.js" th:src="@{/js/main.js}"></script>
		<div th:replace="fragments/footer :: footer"></div>

	</div>

</body>
</html>